MONGODB_URI=mongodb+srv://hansdarrelkoh_db_user:hans_mongodb_123@student-cluster.3grae7l.mongodb.net/ClaimsApp?appName=student-cluster
JWT_SECRET=super_secret_jwt


//generate random string for JWT_SECRET with: https://dev.to/tkirwa/generate-a-random-jwt-secret-key-39j4
//using terminal: node -e "console.log(require('crypto').randomBytes(32).toString('hex'))"

